*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
     align-items: center; 
  justify-content: center; 
    min-height: 100vh;
    background-color: rgb(219, 120, 109);
}
.wrapper{
    width: 420px;
    background-color: rgb(241, 192, 186);
    border-radius: 7px;
    padding: 28px 28px 45px;
}
.wrapper header{
    font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper  input{
    height: 53px;
    width: 100%;
    outline: none;
    border-radius: 7px;
}
.wrapper ul li{
    display: flex;
     padding-bottom: 17px; 
     margin-bottom: 14px;
     align-items: center;


}
.mot{
    display: flex;
}
.definition{
    display: flex;
    margin: 2px;
}
.fa-volume-up{
    color: rgb(127, 124, 124);
    background-color: beige;
   padding: 10px; 
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
  
}
.wrapper ul{
    /* display: none; */
    height: 0;
    opacity: 0;
   overflow: hidden;
   transition: all 0.25 ease;
}
.wrapper.active ul{
    display: block;
    height: 303px;
    opacity: 1;
}
ul .content{
    max-height: 215px;
    overflow: auto;
}

.content li .details p{
    font-size: 15px;
    font-weight: 500;
}
.content li .details span{
    font-size: 15px;
    color: #7e7e7e;
}
.wrapper.active .info-text{
    display: none;
}
.wrapper .info-text{
  font-size: 18px;  
  color: #434141;
  margin: 20px ;
}

